@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .vstack {
    @apply flex flex-col items-center;
  }
  .hstack {
    @apply flex flex-row items-center;
  }
  .center {
    @apply flex items-center justify-center;
  }
  .btn {
    @apply bg-secondary center rounded-md hover:scale-95 transition-all duration-300 ease-in;
  }

  .hov {
    @apply hover:shadow-none hover:scale-95 transition-all duration-300 ease-in;
  }
}

body {
  background-color: #0f0f0f;
}
cue {
  color: #991b1b;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
